body {
  background-image: url(../../pics/plot_area_bg.png);
}

a {
  color:#112233;
}

table.content {
  border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
}

table.content th {
  background-image: url(../../pics/but4.png);
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
}
table.content td {
	border-width: 1px;
	padding: 1px 2px 3px;
	border-style: inset;
	border-color: gray;
  vertical-align: top
}

table.buildcost td {
	border-width: 0px;
}
table.workingpositions td {
	border-width: 0px;
}
table.inputs td {
	border-width: 0px;
}
table.output td {
	border-width: 0px;
}
table.initializations td {
	border-width: 0px;
}
table.economy {
	border-width: 0px;
	padding: 0px;
	border-spacing: 0px;
	border-style: none;
	border-collapse: collapse;
}

table.economy tr {
	white-space: nowrap;
}

table.economy td {
	border-width: 1px;
	padding: 0px;
	border-style: none;
	border-color: gray;
	white-space: nowrap;
}

table.economy img {
	display: block;
}
table.economy img.type {
	display:inline;
}