<table>
  <tr>
    <td><img src="${baseDir}pics/wl-ico-128.png" alt="widelandslogo"></img></td>
    <td style="vertical-align:middle; text-align:center"><img src="${baseDir}${tribeDirName}/${tribe.code}/headquarters/headquarters_i_00.png"></img>
    <br/>
    ${head_title}
  </tr>
</table>
