<table>
  <tr>
    <td><a href="../index.html"><img border="0" src="${baseDir}pics/wl-ico-128.png" alt="widelandslogo"></img></a></td>
    <td style="vertical-align:middle; text-align:center">
      <img src="${baseDir}${conf.tribeConfDirName}/${tribeCode}/headquarters/headquarters_i_00.png"></img>
      <br/>
      ${head_title}
    </td>
  </tr>
</table>
